@model ASP.NET_QuanTraSua.Models.NGUYENLIEU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NGUYENLIEU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NHACUNGCAP.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TenNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
