@model IEnumerable<ASP.NET_QuanTraSua.Models.NGUYENLIEU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NHACUNGCAP.TenNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NHACUNGCAP.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNL }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNL })
        </td>
    </tr>
}

</table>
