@model PagedList.IPagedList<ASP.NET_QuanTraSua.Models.SANPHAM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Trà sữa";
    Layout = null;

}

<style type="text/css">
    #products {
        width: 1280px;
    }

    #product {
        width: 222px;
        height: 320px;
        float: left;
        display: block;
        padding: 7px;
        margin: 7px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #999;
    }



    td p span a {
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        display: block;
        padding-top: 10px;
        text-decoration: none;
        color: #000;
        border-bottom: 2px solid #FFF;
        margin-left: 5px;
    }

        td p span a:hover {
            color: red;
        }
</style>
<div id="products">
    <table>
        <tr>
            <td width="256px" valign="top">
                <p>
                    <span><a href="/DSSANPHAM/Index">tất cả sản phẩm</a></span>
                    <span><a href="/DSSANPHAM/TraSua">Trà sữa</a></span>
                    <span><a href="/DSSANPHAM/Tra">Trà</a></span>
                    <span><a href="/DSSANPHAM/CaPhe">Cà phê</a></span>
                    <span><a href="/DSSANPHAM/DoAnVat">Đồ ăn vặt</a></span>
                </p>
                <div style="margin-top:20px">
                    @using (Html.BeginForm())
                    {
                        <p>
                            <span style="font-size:24px">Tìm theo tên  <input id="Name" name="Name" type="text" style="height:30px;width:175px" placeholder="Nhập tên sản phẩm" /></span>
                            <input type="submit" value="Tìm" style="height:30px;width:50px" />
                        </p>
                    }
                </div>

                <div>
                    @using (Html.BeginForm())
                    {
                        <p style="font-size:24px">
                            <span style="margin-bottom:5px">Khoảng giá</span><br />
                            <input id="first" name="first" type="text" placeholder="Giá đầu" style="height:30px;width:100px" />&nbsp;-&nbsp;
                            <input id="end" name="end" type="text" placeholder="Giá cuối" style="height:30px;width:100px" />
                            <span style="color:red;font-size:12px">@ViewBag.Error</span><br />
                            <span><input type="submit" value="Áp dụng" style="height:30px;margin:10px 0 0 70px" /></span>
                        </p>
                    }
                </div>


            </td>
            <td width="1024px">
                <div style="height:700px">
                    @foreach (var sp in Model)
                    {
                        <div id="product">
                            <a href="@Url.Action("Details","DSSANPHAM",new { id=sp.MaSP })">
                                <img src="~/@sp.Anh" width="215" height="280" />
                                <p style="text-decoration:none;">@sp.TenSP</p>
                            </a>
                        </div>
                    }
                    <div style="clear:left"></div>
                </div>
                <br />
                Trang @(Model.PageCount<Model.PageNumber?0 : Model.PageNumber)/@Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </td>
        </tr>

    </table>

</div>

@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}

